@import "./colors";

@media only screen and (max-width: 991px) {

  .contact-details {
    background-color: $primary-color-minus-1;
    color: #fff;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 1px;
    padding-bottom: 15px;

    .contact-details-info {
      margin-top: 30px;
    }
    .contact-details-opening-hours {
      margin-top: 60px;

      .opening-times {
        margin-top: 10px;
      }
    }

    .contact-details-image {
      margin-right:10px;
      float: left;
    }

  }
}

@media only screen and (min-width: 992px) {

  .contact-container {
    overflow: hidden;
  }
  .contact-map {
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
  }
  .contact-details {
    background-color: $primary-color-minus-1;
    color: #fff;
    height: 100%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
    padding-top: 15px;

    .contact-details-info {
      margin-top: 30px;
    }

    .contact-details-opening-hours {
      margin-top: 60px;

      .opening-times {
        margin-top: 10px;
      }
    }

    .contact-details-image {
      margin-right:10px;
      float: left;
    }

  }
}

.send-message {
  background: #f2f2f2;
  margin-top: 40px;
  padding-bottom: 30px;
}