@import "../colors";

.hamburger {
  position: fixed;
  right:0px;
  top:0;
  height:90px;
  width:88px;
  padding:35px 30px;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index:1002;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

@media only screen and (max-width: 768px) {
  .hamburger {
    width:68px;
    height: 70px;
    padding:35px 20px;
    -webkit-transform:translateY(-10px);
    -ms-transform:translateY(-10px);transform:translateY(-10px)
  }
}

.scrolled .hamburger {
  -webkit-transform:translateY(-10px);
  -ms-transform:translateY(-10px);
  transform:translateY(-10px);height:80px
}

.hamburger ._layer {
  background:#000;
  margin-bottom:4px;
  border-radius:2px;
  width:28px;
  height:4px;
  opacity:1;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98)
}

.hoverable .hamburger:hover .-top {
  -webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%)
}

.hoverable .hamburger:hover .-bottom {
  -webkit-transform:translateY(100%);
  -ms-transform:translateY(100%);
  transform:translateY(100%)
}

.hamburger.is-active .-top{
  -webkit-transform:translateY(200%) rotate(45deg) !important;
  -ms-transform:translateY(200%) rotate(45deg) !important;
  transform:translateY(200%) rotate(45deg) !important
}

.hamburger.is-active .-mid {
  opacity:0
}

.hamburger.is-active .-bottom {
  -webkit-transform:translateY(-200%) rotate(135deg) !important;
  -ms-transform:translateY(-200%) rotate(135deg) !important;
  transform:translateY(-200%) rotate(135deg) !important
}